{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div id="top-bar">
        <div id="minimap">
            <table>
                {% for row in 1..5 %}
                <tr>
                    {% for column in 1..5 %}
                        <td></td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
        <div id="notices"></div>
        <div id="navigation"></div>
        <div class="clear-left"></div>
    </div>
{% endblock %}
