@import url(https://fonts.googleapis.com/css?family=PT+Sans);

body
{
    background-color:#000;
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    padding:0;
    margin:0;
}

body .wrapper
{
    text-align:center;
}

input
{
    font-family: 'PT Sans', sans-serif;
}

input:focus
{
    outline:none;
}

a
{
    text-decoration: none;
    color:#fff;
}

a:hover
{
    color:#0f0;
}

.clear-left
{
    clear:left;
}

/* Login Page */

.login input
{
    text-align:center;
    border-radius:10px;
    padding:5px;
    border:none;
    font-size:1em;
}

.login input[type=submit]
{
    border:none;
    padding:5px 10px 5px 10px;
    color:#fff;
    background-color:#000;
    cursor:pointer;
}

.login input[type=submit]:hover
{
    color:#0f0;
}

.login .register
{
    margin-left:10px;
}

.login p.errors
{
    color:#f00;
}

/* Top Bar */
#top-bar
{
    border-bottom:solid 1px #fff;
    padding:10px;
}

#minimap
{
    float:left;
}

#minimap table
{
    padding:0;
    border-collapse:collapse;
    table-layout:fixed;
}

#minimap table tr td
{
    border:solid 1px #fff;
    height:30px;
    width:30px;
    padding:0;
}

#notices
{
    float:left;
}

#notices .notice
{
    font-size:0.8em;
}

#navigation
{
    float:left;
}
